[submodule "mapbox.js"]
	path = mapbox.js
	url = git@github.com:mapbox/mapbox.js.git
[submodule "Leaflet"]
	path = Leaflet
	url = git@github.com:Leaflet/Leaflet.git
[submodule "leaflet-sidebar"]
	path = leaflet-sidebar
	url = git@github.com:Turbo87/leaflet-sidebar.git
[submodule "Leaflet.Ellipse"]
	path = Leaflet.Ellipse
	url = git@github.com:jdfergason/Leaflet.Ellipse.git
[submodule "leaflet-button"]
	path = leaflet-button
	url = https://github.com/jerroydmoore/leaflet-button.git
[submodule "Leaflet.label"]
	path = Leaflet.label
	url = https://github.com/Leaflet/Leaflet.label.git
