body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

.form {
    background: #eee;
    text-align: justify;
}

.label { 
    display: inline-block;
    # float: left;
    # margin-left: 0;
    *text-align: left;
    *display: inline;
}

.field { 
    display: inline-block;
    # padding: 4px; 
    # margin-right: 0;
    # margin-left: 5px;
    text-align: right;
    # background: #eee; 
}
