<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/js/Leaflet/leaflet.css"></>
    <link rel="stylesheet" href="/js/leaflet-sidebar/src/L.Control.Sidebar.css"></>
    <link rel="stylesheet" href="/js/Leaflet.label/dist/leaflet.label.css"></>
    <link rel="stylesheet" href="/css/fuzzylocator.css"></>

    <!-- <script src="./Leaflet/dist/leaflet.js"></script> -->
		<script>
			L_PREFER_CANVAS = true;
		</script>

    <script src="/js/Leaflet.label/libs/leaflet/leaflet-src.js"></script>

    <script src="/js/leaflet-sidebar/src/L.Control.Sidebar.js"></script>

    <script src="/js/leaflet-button/L.Control.Button.js"></script>
    
    <script src="/js/Leaflet.label/src/Label.js"></script>
    <script src="/js/Leaflet.label/src/BaseMarkerMethods.js"></script>
    <script src="/js/Leaflet.label/src/Marker.Label.js"></script>
    <script src="/js/Leaflet.label/src/CircleMarker.Label.js"></script>
    <script src="/js/Leaflet.label/src/Path.Label.js"></script>
    <script src="/js/Leaflet.label/src/Map.Label.js"></script>
    <script src="/js/Leaflet.label/src/FeatureGroup.Label.js"></script>

    <script src="/js/leaflet-tilefilter/dist/TileLayer.Filter.js"></script>

    <script src="/js/leaflet-image.js"></script>
		<script src="/js/spin.min.js"></script>

		<script src="/js/Leaflet.EdgeMarker.js"></script>

    <script src="/js/jquery-2.1.1.min.js"></script>
		<script src="/js/jQuery.print/jQuery.print.js"></script>
		
		<script src="/js/miscfuncs.js"></script>

    <meta charset="utf-8" />
    <title>fuzzylocator</title>

  </head>

<body>
	
	
	<div id="map">
	
	<!-- first side pane with map drawing controls -->
  <div id="fuzzymenu">
    <h1>share info</h1>
    
    <p><strong>location options</strong></p>
		
    <!-- controls -->
		<button id="menubutton" role="button" class="stockbutton darkbutton">menu</button>
		<button id="listbutton" role="button" class="stockbutton darkbutton">share list</button>
		<button id="darkenbutton" role="button" class="lightbutton stockbutton darkbutton">⛯</button>
		
		<form action="", method="post", id="infoform">
			
			radius<br>
			
			<div>
				<input id="radius" class="slider" type="range" min="10" max="1000000" value="100000" step="1000" onchange="document.getElementById('radiuslabel').innerHTML = logInput('radius',10,1000000,10,25000000).toFixed(4);" /> 
				<em id="radiuslabel" style="font-style: normal;">100000</em>
			</div>
			
			noise<br>
			
			<div>
				<input id="jitter" class="slider" type="range" min="0.001" max="4500" value="10" step="0.01" onchange="document.getElementById('jitterlabel').innerHTML = logInput('jitter',1,1000,0.0001,10000).toPrecision(4);" /> 
				<em id="jitterlabel" style="font-style: normal;">0.0001</em>
			</div>
			
			
			color<br>
			
			<div>
				<input name="color" class="slider" id="hueslider" type="range" min="0" max="255" value="100" step="1" onchange="colorBox('colorlabel',this.value)" />
				<canvas id="colorlabel" width="40" height="22"></canvas>
				<!-- initial color draw -->
				<script>colorBox("colorlabel",100)</script>
			</div>
			<br>
			<div>
				<input id="drawcircle" type="radio" name="grp1" class="css-checkbox" autocomplete="off" /><label for="drawcircle" name="drawlabel" class="css-label radGroup1">Draw Circle</label>
				<input id="delcircle" type="radio" name="grp1" class="css-checkbox" autocomplete="off" /><label for="delcircle" name="dellabel" class="css-label radGroup1">Delete Circle</label>
				<input id="disabletool" type="radio" name="grp1" class="css-checkbox" autocomplete="off" checked="checked"/><label for="disabletool" name="disablelabel" class="css-label radGroup1">View Only</label>
			</div>

			<p><strong>contact info</strong></p>
			
			<div class="form">
				<input type="hidden" id="formrad" name="radius">
				<input type="hidden" id="formlat" name="lat">
				<input type="hidden" id="formlng" name="lng">
				
				<div class="fieldset">
					Nym: <input type="text" name="nym" id="nym" class="textbox" required><br>
					Contact: <input type="text" name="contact" id="contact" class="textbox" required><br>
					<input type="submit" value="Submit Location+Info" class="stockbutton darkbutton"><br>
				</div>
			</div>
			
		</form>

		<p><strong>export</strong></p>
		<div class="exporters">
			<button id="mapdl" type="button" class="stockbutton darkbutton">Download Map</button>
			<form action="/csvlist", method="post">
				<button id="infodl" name="infodl" type="submit" class="stockbutton darkbutton">Download Info</button>
		</div>
		</form>
	</div>

	<!-- second side pane which displays list info -->
	<div id="fuzzylist">

		<h1>shared list</h1>
		
		<div id="listpane">
			<!-- is populated by JS -->
			
		</div>
	</div>


	<script src="/js/mapinit.js"></script>
	<script src="/js/fuzzylocator.js"></script>
	<script src="/js/fuzzydatadisp.js"></script>


</body>
</html>
