<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/js/Leaflet/leaflet.css"></>
    <link rel="stylesheet" href="/js/leaflet-sidebar/src/L.Control.Sidebar.css"></>
    <link rel="stylesheet" href="fuzzylocator.css"></>
    <link rel="stylesheet" href="/js/Leaflet.label/dist/leaflet.label.css"></>

    <meta charset="utf-8" />
    <title>leaflet / fuzzylocator</title>

  </head>

<body>
  <div id="map"></div>
  <div id="fuzzymenu">
    <h1>share info</h1>
    
    <p><strong>location options</strong></p>
		
    <!-- controls -->
		<button id="menubutton" role="button" class="btn btn-primary">menu</button>

		<form action="/submit", method="post">
			
			radius<br>
			
			<div>
				<input name="radius" id="radius" type="range" min="100" max="6000000" value="100000" step="100"/>
			</div>
			
			jitter<br>
			
			<div>
				<input name="jitter" id="jitter" type="range" min="0" max="1000" value="100" step="1"/>
			</div>
			
			
			color<br>
			
			<div>
				<input id="hueslider" type="range" min="0" max="255" value="100" step="1"/>
			</div>
			
			<button id="drawcircle" type="button">Draw Circle</button>
			
			<p><strong>contact info</strong></p>
			
			<div class="form">
				Nym: <input type="text" name="nym" id="nym"><br>
				Contact: <input type="text" name="contact" id="contact"><br>
				<input type="submit" value="Submit Location+Info"><br>
			</div>
			
		</form>

		<p><strong>export</strong></p>
    <button id="mapdl" type="button">Download Map</button>
    <button id="infodl" type="button">Download Info</button>
</div>

<!--<script src="./Leaflet/dist/leaflet.js"></script>-->
<script src="/js/Leaflet.label/libs/leaflet/leaflet-src.js"></script>
<script src="/js/leaflet-sidebar/src/L.Control.Sidebar.js"></script>
<script src="/js/leaflet-button/L.Control.Button.js"></script>


<script src="/js/Leaflet.label/src/Label.js"></script>
<script src="/js/Leaflet.label/src/BaseMarkerMethods.js"></script>
<script src="/js/Leaflet.label/src/Marker.Label.js"></script>
<script src="/js/Leaflet.label/src/CircleMarker.Label.js"></script>
<script src="/js/Leaflet.label/src/Path.Label.js"></script>
<script src="/js/Leaflet.label/src/Map.Label.js"></script>
<script src="/js/Leaflet.label/src/FeatureGroup.Label.js"></script>

<script src="/js/leaflet-image.js"></script>

<script src="/js/jquery-2.1.1.min.js"></script>

<script src="/js/fuzzylocator.js"></script>
<!--<script src="./mapfunctions.js"></script>-->
</body>
</html>
