body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

.form {
		width: 0%;
}

.fieldset {
    text-align: right;
}

.textbox {
		border: 2px solid #456879;
		border-radius: 8px;
}

.exporters {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-box;
		display: box;
}

.label { 
    display: inline-block;
    /* float: left;
    margin-left: 0; */
    *text-align: left;
    *display: inline;
}

.field { 
    display: inline-block;
    /* padding: 4px; 
    margin-right: 0;
    margin-left: 5px; */
    text-align: right;
    /* background: #eee; */
}


#map.deletable .leaflet-clickable, #map.deletable .leaflet-map-pane {
		cursor: no-drop;
}

#map.drawable .leaflet-clickable, #map.drawable .leaflet-map-pane {
		cursor: crosshair;
}

/* trying to get the map background to not be so bright */
.leaflet-container {
		background: #333 !important;
}

/* Manual sizing for UI elements */
.leaflet-sidebar.left {
		width: 358px !important;
}

.leaflet-sidebar.right {
		width: 450px !important;
}

.leaflet-sidebar.left.visible ~ .leaflet-left {
    left: 360px;
}

.leaflet-sidebar.right.visible ~ .leaflet-right {
    right: 455px;
}

/* from http://www.csscheckbox.com/ */

input[type=radio].css-checkbox {
		display:none;
}

input[type=radio].css-checkbox + label.css-label {
		padding-left:29px;
		height:24px; 
		display:inline-block;
		line-height:24px;
		background-repeat:no-repeat;
		background-position: 0 0;
		/* font-size:24px; */
		vertical-align:middle;
		cursor:pointer;
							
}

input[type=radio].css-checkbox:checked + label.css-label {
		background-position: 0 -24px;
}

label.css-label {
		background-image:url(/img/radiobutton.png);
		/* background-color: rgb(0,150,200); 
		border-radius: 50%;
		width: 1px;
		height: 5px; */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.stockbutton {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 14px;
  /* box-shadow: 0px 1px 1px #BBEEEE; */
  padding: 4px 6px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #3866A3;
  background: #1B7BD2;
	margin-top: 2px;
	margin-left: 2px;
}

.stockbutton:hover {
  color: #000000 !important;
  background: #44AFCF;
}

.lightbutton  {
		font-size: 20px;
		padding: 0px 4px !important;
}
