body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

.form {
    background: #eee;
    text-align: right;
}

.label { 
    display: inline-block;
    /* float: left;
    margin-left: 0; */
    *text-align: left;
    *display: inline;
}

.field { 
    display: inline-block;
    /* padding: 4px; 
    margin-right: 0;
    margin-left: 5px; */
    text-align: right;
    /* background: #eee; */
}


#map.deletable .leaflet-clickable, #map.deletable .leaflet-map-pane {
		cursor: no-drop;
}

#map.drawable .leaflet-clickable, #map.drawable .leaflet-map-pane {
		cursor: crosshair;
}



/* from http://www.csscheckbox.com/ */

input[type=radio].css-checkbox {
							display:none;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:29px;
							height:24px; 
							display:inline-block;
							line-height:24px;
							background-repeat:no-repeat;
							background-position: 0 0;
							/* font-size:24px; */
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -24px;
						}
						label.css-label {
								background-image:url(/img/radiobutton.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}